@model EfDemo.Models.BookPublisherModel

@{
    ViewBag.Title = "BooksByAuthor";
}

<div class="jumbotron">
    <table class="table">
        @foreach (var book in Model.BookModels)
        {
            <tr>
                <td>
                    @book.Book.BookName
                </td>
                <td>
                    @book.Book.Annotation
                </td>
                <td>
                    <table class="table">
                        @foreach (var publisher in book.Publishers)
                        {
                            <tr>
                                <td>
                                    @publisher.PublisherName
                                </td>
                                <td>
                                    @publisher.Rate
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    @{ var id = String.Format("txt{0}", book.Book.Id); }
                    <input type="text" id="@id"/>
                    <input type="button" value="Update annotation" class="btn-link" onclick="updateAnnotation(@book.Book.Id)"/>
                </td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    function updateAnnotation(id) {
        var ann = '#txt' + id;
        var txt = $(ann).val();
        $.ajax({
                url: '@Url.Action("UpdateAnnotation")',
                data: { bookId: id, annotation: txt },
                method: 'POST'
            })
            .done(function() {
                window.location = window.location;
            });
    }
</script>
